@model AdoptionFormModel

<form method="post">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="FirstName">First name</label>
            <input asp-for="FirstName" class="form-control" placeholder="First name" required>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="LastName">Last name</label>
            <input asp-for="LastName" class="form-control" placeholder="Last name" required>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Age">Age</label>
            <input asp-for="Age" class="form-control" placeholder="Age" required>
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FirstQuestion"></label>
        <textarea asp-for="FirstQuestion" class="form-control" rows="3"></textarea>
        <span asp-validation-for="FirstQuestion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SecondQuestion"></label>
        <textarea asp-for="SecondQuestion" class="form-control" rows="3"></textarea>
        <span asp-validation-for="SecondQuestion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ThirdQuestion"></label>
        <textarea asp-for="ThirdQuestion" class="form-control" rows="3"></textarea>
        <span asp-validation-for="ThirdQuestion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FourthQuestion"></label>
        <textarea asp-for="FourthQuestion" class="form-control" rows="3"></textarea>
        <span asp-validation-for="FourthQuestion" class="text-danger"></span>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit application" />
</form>